@page "/resource/{Id:guid}"
@inject IResourceService resourceData
@inject IProviderService providerData
@inject IPackageResourceService packageResourceService

@if(Resource != null)
{
    <PageTitle>Package - @Resource.Name</PageTitle>


    <PageHeader>
        <LeftContent>
            <BreadcrumbContainer>
                <BreadcrumbItem Url="/providers">Providers</BreadcrumbItem>
                <BreadcrumbItem Url=@($"/provider/{Resource.Provider.Id}")>@Resource.Provider.Name</BreadcrumbItem>
            </BreadcrumbContainer>
            <H1>@Resource.Name</H1>
            <p>@Resource.Description</p>
        </LeftContent>
        <RightContent>
           @*  <button @onclick=@(() => Flyouts.ToggleFlyout("edit"))>Edit</button>
            <button @onclick=@(() => Flyouts.ToggleFlyout("newPackageResource"))>Add resource</button> *@
        </RightContent>
    </PageHeader>

    <div>
        <table class="bf-table bfc-base-3-bg bf-table-vertical-header" style="width: auto">
            <tbody>
                <tr class="bf-table-row bf-table-row-compact">
                    <th>Id</th>
                    <td>@Resource.RefId</td>
                </tr>
                <tr class="bf-table-row bf-table-row-compact">
                    <th>Provider</th>
                    <td><a href=@($"/provider/{Provider.Id}")>@Provider.Name</a></td>
                </tr>
                <tr class="bf-table-row bf-table-row-compact">
                    <th>Group</th>
                    <td>@Resource.Group.Name</td>
                </tr>
                <tr class="bf-table-row bf-table-row-compact">
                    <th>Type</th>
                    <td>@Resource.Type.Name</td>
                </tr>
            </tbody>
        </table>
    </div>
    <span>
        &nbsp;
    </span>

    <Grid Medium="2">
        <div>
            <H2>Tilgangspakker</H2>

            @if (Resources != null)
            {
                <Accordion>
                    @foreach (var r in Resources)
                    {
                        <ListItem Url=@($"/package/{r.PackageId}") Title="@r.Package.Name"></ListItem>
                    }
                </Accordion>
            }
        </div>
    </Grid>
}

@code {

    [Parameter] public Guid Id { get; set; }
    public ExtResource Resource { get; set; }
    public Provider Provider { get; set; }
    public IEnumerable<ExtPackageResource> Resources { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var opt = UserData.GetRequestOptions();

        Resource = await resourceData.GetExtended(Id, options: opt);
        if(Resource != null)
        {
            Provider = await providerData.Get(Resource.Group.ProviderId, options: opt);
            Resources = await packageResourceService.GetExtended("ResourceId", Resource.Id, options: opt);
        }
    }
}
