@page "/area/{id:guid}"
@inject IAreaRepository areaService
@inject IPackageRepository packageService

@if (Area != null)
{
    <PageTitle>@Area.Name</PageTitle>

    <PageHeader>
        <LeftContent>
            <BreadcrumbContainer>
                <BreadcrumbItem Url=@($"/areas")>Områder</BreadcrumbItem>
                <BreadcrumbItem Url=@($"/areagroup/{Area.Group.Id}")>@Area.Group.Name</BreadcrumbItem>
                <BreadcrumbItem Url=@($"/area/{Area.Id}")>@Area.Name</BreadcrumbItem>
            </BreadcrumbContainer>
            <H1>
                <div>
                    <SvgIcon Path="@Area.IconName" />
                </div>
                <span>@Area.Name</span>
            </H1>
            <p>@Area.Description</p>
        </LeftContent>
        <RightContent>
        </RightContent>
    </PageHeader>


    <Grid>

        <div>
            <H3>Tilgangspakker</H3>
            <table class="bf-table bfc-base-3-bg">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Description</th>
                        <th style="text-align: center;">Delegable</th>
                        <th>Provider</th>
                        <th>EntityType</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach(var package in Packages)
                    {
                        <tr class="bf-table-row bf-table-row-compact">
                            <td><a href=@($"/package/{package.Id}")>@package.Name</a></td>
                            <td>@package.Description</td>
                            <td style="text-align: center;">
                                @if (package.IsDelegable)
                                {
                                    <Icon Name="square-check"></Icon>
                                }
                                else
                                {
                                    <Icon Name="ban"></Icon>
                                }
                            </td>
                            <td><a href=@($"/provider/{package.Provider.Id}")>@package.Provider.Name</a></td>
                            <td><a href=@($"/entitytype/{package.EntityType.Id}")>@package.EntityType.Name</a></td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>

    </Grid>

}

@code {

    [Parameter] public Guid id { get; set; }
    public ExtArea? Area { get; set; }
    public List<ExtPackage> Packages { get; set; }


    protected async override Task OnParametersSetAsync()
    {
        var opt = UserData.GetRequestOptions();
        Area = await areaService.GetExtended(id, options: opt);
        if(Area != null)
        {
            Packages = [.. await packageService.GetExtended(t => t.AreaId, Area.Id, options: opt)];
        }
    }
}
