@page "/resource/{Id:guid}"
@inject IResourceRepository resourceData
@inject IProviderRepository providerData
@inject IPackageResourceRepository packageResourceService

@if(Resource != null)
{
    <PageTitle>Resource - @Resource.Name</PageTitle>

    <PageHeader>
        <LeftContent>
            <BreadcrumbContainer>
                <BreadcrumbItem Url=@($"/provider/{Resource.Provider.Id}")>@Resource.Provider.Name</BreadcrumbItem>
            </BreadcrumbContainer>
            <H1>@Resource.Name</H1>
            <p>@Resource.Description</p>
        </LeftContent>
        <RightContent>
        </RightContent>
    </PageHeader>

    <div>
        <table class="bf-table bfc-base-3-bg bf-table-vertical-header" style="width: auto">
            <tbody>
                <tr class="bf-table-row bf-table-row-compact">
                    <th>Id</th>
                    <td>@Resource.RefId</td>
                </tr>
                <tr class="bf-table-row bf-table-row-compact">
                    <th>Provider</th>
                    <td><a href=@($"/provider/{Resource.Provider.Id}")>@Resource.Provider.Name</a></td>
                </tr>
                <tr class="bf-table-row bf-table-row-compact">
                    <th>Type</th>
                    <td>@Resource.Type.Name</td>
                </tr>
            </tbody>
        </table>
    </div>
    <span>
        &nbsp;
    </span>

    <Grid Medium="2">
        @if (ResourcePackages != null && ResourcePackages.Any())
        {
            <div>
                <H2>Tilgangspakker</H2>
                <SimpleTable>
                    <Head>
                        <SimpleTableRow IsHeaderRow>
                            <th>Navn</th>
                        </SimpleTableRow>
                    </Head>
                    <Body>
                        @foreach (var rp in ResourcePackages)
                        {
                            <SimpleTableRow>
                                <td><a href=@($"/package/{rp.PackageId}")>@rp.Package.Name</a></td>
                            </SimpleTableRow>
                        }
                    </Body>
                </SimpleTable>
            </div>
        }
    </Grid>
}

@code {

    [Parameter] public Guid Id { get; set; }
    public ExtResource Resource { get; set; }
    public IEnumerable<ExtPackageResource> ResourcePackages { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var opt = UserData.GetRequestOptions();

        Resource = await resourceData.GetExtended(Id, options: opt);
        if(Resource != null)
        {
            ResourcePackages = await packageResourceService.GetExtended(t => t.ResourceId, Resource.Id, options: opt);
        }
    }
}
