@page "/component/{Id:guid}"
@inject IComponentService componentService
@inject IPolicyComponentService policyComponentService

@if (Component != null)
{
    <PageTitle>@Component.Name</PageTitle>

    <PageHeader>
        <LeftContent>
            <BreadcrumbContainer>
                <BreadcrumbItem Url=@($"/element/{Component.Element.Id}")>@Component.Element.Name</BreadcrumbItem>
            </BreadcrumbContainer>
            <H1>@Component.Name</H1>
        </LeftContent>
        <RightContent>
        </RightContent>
    </PageHeader>

    <Grid Medium="2">

        @if (Policies != null && Policies.Any())
        {
            <div>
                <H2>Policyer</H2>
                <SimpleTable>
                    <Head>
                        <SimpleTableRow IsHeaderRow>
                            <th>Navn</th>
                            <th>Beskrivelse</th>
                        </SimpleTableRow>
                    </Head>
                    <Body>
                        @foreach (var policy in Policies)
                        {
                            <SimpleTableRow>
                                <td><a href=@($"/policy/{policy.Id}")>@policy.Name</a></td>
                                <td>@policy.Description</td>
                            </SimpleTableRow>
                        }
                    </Body>
                </SimpleTable>
            </div>
        }

    </Grid>
}

@code {

    [Parameter] public Guid Id { get; set; }
    public ExtComponent Component { get; set; }
    public IEnumerable<Policy> Policies { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var opt = UserData.GetRequestOptions();

        Component = await componentService.GetExtended(Id, options: opt);
        if (Component != null)
        {
            Policies = await policyComponentService.GetA(Component.Id, options: opt);
        }
    }
}
