@page "/entity/{Id:guid}"
@inject IEntityService entityData
@inject IAssignmentService assignmentData
@inject IEntityService entityService
@inject IGroupService groupService
@inject IGroupMemberService groupMemberService
@inject IGroupAdminService groupAdminService
@inject IDelegationService delegationService
@inject IDelegationGroupService delegationGroupService
@inject IDelegationAssignmentService delegationAssignmentService
@inject IAssignmentService assignmentService
@inject IRoleService roleService

@if(Entity != null)
{

    <PageTitle>Entity - @Entity.Name</PageTitle>

    <PageHeader>
        <LeftContent>
            <H1><EntityTypeIcon Id="@Entity.TypeId" /> @Entity.Name</H1>
        </LeftContent>
        <RightContent>
            <ButtonGroup>
                <Button OnClick=@(() => CreateGroupModalIsOpen = !CreateGroupModalIsOpen)>Ny gruppe</Button>
                <Button OnClick=@(() => CreateAssignmentModalIsOpen = !CreateAssignmentModalIsOpen)>Ny tildeling</Button>
                @*<button @onclick=@(() => Flyouts.ToggleFlyout("newPackageResource"))>Resource</button>
                <button @onclick=@(() => Flyouts.ToggleFlyout("newPackageResource"))>Tags</button>
                <button @onclick=@(() => Flyouts.ToggleFlyout("newPackageResource"))>Translation</button> *@
            </ButtonGroup>
        </RightContent>
    </PageHeader>

    <VerticalTable>
        <VerticalTableCell Title="Type"><a href=@($"/entitytype/{Entity.Type.Id}")>@Entity.Type.Name</a></VerticalTableCell>
        <VerticalTableCell Title="Variant"><a href=@($"/entityvariant/{Entity.Variant.Id}")>@Entity.Variant.Name</a></VerticalTableCell>
        <VerticalTableCell Title="RefId">@Entity.RefId</VerticalTableCell>
    </VerticalTable>
    <br />
    <Grid>

        @if(FromAssignments != null && FromAssignments.Any())
        {
            <div>
                <H3>
                    Roller (Rettighetshavere)
                    <div style="float:right;">
                        <Switch @bind-Checked=GroupFromByTo >Grupper rolleinnehavere</Switch>
                    </div>
                </H3>
                <table class="bf-table bfc-base-3-bg">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>Role</th>
                            <th>To</th>
                            <th>-</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (GroupFromByTo)
                        {
                            @foreach (var toId in FromAssignments.Select(t=>t.ToId).Distinct())
                        {
                            var assignment = FromAssignments.First(t => t.ToId == toId);
                            <tr class="bf-table-row bf-table-row-compact">
                                <td title="@assignment.From.RefId"><a href=@($"/entity/{assignment.From.Id}")><EntityTypeIcon Id="@assignment.From.TypeId" />@assignment.From.Name</a></td>
                                <td>
                                    <div style="display:flex; gap:4px;">
                                        @foreach (var assignmentRole in FromAssignments.Where(t=>t.ToId == toId).OrderBy(t=>t.Role.Name))
                                        {
                                            <Badge Title="@assignmentRole.Role.Description">@assignmentRole.Role.Code</Badge>
                                        }
                                    </div>
                                </td>
                                <td title="@assignment.To.RefId"><a href=@($"/entity/{assignment.To.Id}")><EntityTypeIcon Id="@assignment.To.TypeId" />@assignment.To.Name</a></td>
                                <td>
                                    <a href=@($"/assignment/{assignment.Id}")><Icon Name="arrow-up-right-from-square"></Icon></a>
                                </td>
                            </tr>
                        }
                        } 
                        else
                        {
                            @foreach (var assignment in FromAssignments)
                            {
                                <tr class="bf-table-row bf-table-row-compact">
                                    <td title="@assignment.From.RefId"><a href=@($"/entity/{assignment.From.Id}")><EntityTypeIcon Id="@assignment.From.TypeId" />@assignment.From.Name</a></td>
                                    <td>
                                        <div style="display:flex; gap:4px;">
                                            <Badge Title="@assignment.Role.Description">@assignment.Role.Code</Badge>
                                        </div>
                                    </td>
                                    <td title="@assignment.To.RefId"><a href=@($"/entity/{assignment.To.Id}")><EntityTypeIcon Id="@assignment.To.TypeId" />@assignment.To.Name</a></td>
                                    <td>
                                        <a href=@($"/assignment/{assignment.Id}")><Icon Name="arrow-up-right-from-square"></Icon></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        }

        @if (ToAssignments != null && ToAssignments.Any())
        {
            <div>
                <H3>
                    Roller (Avgivere)
                    <div style="float:right;">
                        <Switch @bind-Checked=GroupToByFrom>Grupper avgivere</Switch>
                    </div>
                </H3>

                <table class="bf-table bfc-base-3-bg">
                    <thead>
                        <tr>
                            <th>Fra</th>
                            <th>Rolle</th>
                            <th>Til</th>
                            <th>Delegert</th>
                            <th>-</th>
                        </tr>
                    </thead>    
                    <tbody>
                        @if(GroupToByFrom)
                        {
                            @foreach (var forId in ToAssignments.Select(t => t.FromId).Distinct())
                        {
                            var assignment = ToAssignments.First(t => t.FromId == forId);
                            <tr class="bf-table-row bf-table-row-compact">
                                <td title="@assignment.From.RefId"><a href=@($"/entity/{assignment.From.Id}")><EntityTypeIcon Id="@assignment.From.TypeId" />@assignment.From.Name</a></td>
                                <td>
                                    <div style="display:flex; gap:4px;">
                                        @foreach (var assignmentRole in ToAssignments.Where(t => t.FromId == forId).OrderBy(t => t.Role.Name))
                                        {
                                            <Badge Title="@assignmentRole.Role.Description">@assignmentRole.Role.Code</Badge>
                                        }
                                    </div>
                                </td>
                                <td title="@assignment.To.RefId"><a href=@($"/entity/{assignment.To.Id}")><EntityTypeIcon Id="@assignment.To.TypeId" />@assignment.To.Name</a></td>
                                <td>
                                    @if (Delegations.Count(t => t.AssignmentId == assignment.Id) > 0)
                                    {
                                        <Icon Name="check"></Icon>

                                    }
                                    else
                                    {
                                        <Icon Name="xmark"></Icon>
                                    }
                                </td>
                                <td>
                                    <a href=@($"/assignment/{assignment.Id}")><Icon Name="arrow-up-right-from-square"></Icon></a>
                                </td>
                            </tr>
                        }
                        }
                        else
                        {
                            @foreach (var assignment in ToAssignments)
                            {
                                <tr class="bf-table-row bf-table-row-compact">
                                    <td title="@assignment.From.RefId"><a href=@($"/entity/{assignment.From.Id}")><EntityTypeIcon Id="@assignment.From.TypeId" />@assignment.From.Name</a></td>
                                    <td>
                                        <div style="display:flex; gap:4px;">
                                            <Badge Title="@assignment.Role.Description">@assignment.Role.Code</Badge>
                                        </div>
                                    </td>
                                    <td title="@assignment.To.RefId"><a href=@($"/entity/{assignment.To.Id}")><EntityTypeIcon Id="@assignment.To.TypeId" />@assignment.To.Name</a></td>
                                    <td>
                                        @if (Delegations.Count(t => t.AssignmentId == assignment.Id) > 0)
                                        {
                                            <Icon Name="check"></Icon>

                                        }
                                        else
                                        {
                                            <Icon Name="xmark"></Icon>
                                        }
                                    </td>
                                    <td>
                                        <a href=@($"/assignment/{assignment.Id}")><Icon Name="arrow-up-right-from-square"></Icon></a>
                                    </td>
                                </tr>
                            }
                        }
                    </tbody>
                </table>

            </div>
        }

        @if (Groups != null && Groups.Any())
        {
            <div>
                <H3>Grupper</H3>

                <table class="bf-table bfc-base-3-bg">
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Delegering</th>
                        </tr>
                    </thead>    
                    <tbody>

                        @foreach (var group in Groups)
                        {
                            <tr class="bf-table-row bf-table-row-compact">
                                <td><a href=@($"/group/{group.Id}")>@group.Name</a></td>
                                <td>
                                    @if (DelegationGroups.Count(t => t.GroupId == group.Id) > 0)
                                    {
                                        var delegationGroup = DelegationGroups.First(t => t.GroupId == group.Id);
                                        var delegation = Delegations.First(t => t.Id == delegationGroup.DelegationId);
                                        var ass = ToAssignments.First(t => t.Id == delegation.AssignmentId);
                                        @ass.From.Name
                                        <Badge Title="@ass.Role.Description">@ass.Role.Code</Badge>
                                    }
                                    else
                                    {
                                        <Icon Name="xmark"></Icon>
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }

        @if (GroupMemberships != null && GroupMemberships.Any())
        {
            <div>
                <H3>Gruppemedlemskap</H3>

                <table class="bf-table bfc-base-3-bg">
                    <thead>
                        <tr>
                            <th>Navn</th>
                            <th>Medlem</th>
                            <th>Admin</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var grpMem in GroupMemberships)
                        {
                            <tr class="bf-table-row bf-table-row-compact">
                                <td><a href=@($"/group/{grpMem.Group.Id}")>@grpMem.Group.Name</a></td>
                                <td><Icon Name=@(grpMem.IsMember ? "check" : "xmark")></Icon></td>
                                <td><Icon Name=@(grpMem.IsAdmin ? "check" : "xmark")></Icon></td>
                            </tr>
                        }
                    </tbody>
                </table>

            </div>
        }

        @if(Avgivere != null && Avgivere.Any())
        {
            <div>
                <H3>Avgivere</H3>

                <SimpleTable>
                    <Head>
                        <SimpleTableRow>
                            <th>Navn</th>
                            <th>Type</th>
                            <th>Variant</th>
                            <th>Ref</th>
                        </SimpleTableRow>
                    </Head>
                    <Body>
                        @foreach(var entity in Avgivere)
                        {
                            <SimpleTableRow>
                                <td><a href=@($"/entity/{entity.Id}")>@entity.Name</a></td>
                                <td>@entity.Type.Name</td>
                                <td>@entity.Variant.Name</td>
                                <td>@entity.RefId</td>
                            </SimpleTableRow>
                        }

                    </Body>
                </SimpleTable>
            </div>
        }

        @if (RightHolders != null && RightHolders.Any())
        {
            <div>
                <H3>Rettighetsholdere</H3>

                <SimpleTable>
                    <Head>
                        <SimpleTableRow>
                            <th>Navn</th>
                            <th>Type</th>
                            <th>Variant</th>
                            <th>Ref</th>
                        </SimpleTableRow>
                    </Head>
                    <Body>
                        @foreach (var entity in RightHolders)
                        {
                            <SimpleTableRow>
                                <td><a href=@($"/entity/{entity.Id}")>@entity.Name</a></td>
                                <td>@entity.Type.Name</td>
                                <td>@entity.Variant.Name</td>
                                <td>@entity.RefId</td>
                            </SimpleTableRow>
                        }

                    </Body>
                </SimpleTable>
            </div>
        }

    </Grid>

    <Drawer Title="Ny gruppe" @bind-IsOpen=CreateGroupModalIsOpen >
        <Input Title="Navn" @bind-Value=CreateGroupName Description="Et unikt navn i din organisasjon"></Input>
        <hr />
        @if(!string.IsNullOrEmpty(CreateGroupMessage.msg))
        {
            <Message State=@(CreateGroupMessage.success ? Message.MsgState.Success : Message.MsgState.Alert)>
                @CreateGroupMessage.msg
            </Message>
            <hr />
        }
        <Button Variant="Button.ButtonVariant.Filled" OnClick=@(() => CreateGroup())>Opprett</Button>

    </Drawer>

    <Drawer Title="Ny tildeling" @bind-IsOpen=CreateAssignmentModalIsOpen>

        <InputContainer Title="Roller" Description="Velg rolle(r) som skal tildeles">
            <SwitchContainer>
                @foreach (var role in Roles.Where(t=>t.Provider.Name == "Digdir"))
                {
                    <Switch FullWidth @bind-Checked=CreateAssignmentRoles[role.Id]>@role.Name</Switch>
                }
            </SwitchContainer>
        </InputContainer>

        <InputContainer Title="Velg personer" Description="Velg de personene som skal motta tildelingene">
            <Input @bind-Value=CreateAssignmentName Placeholder="Navn"></Input>
            <Input @bind-Value=CreateAssignmentRefNo Placeholder="Fødselsdato"></Input>
            <Button OnClick="CreateAssignmentLookupPerson">Finn person</Button>
            <SwitchContainer>
                @foreach (var person in CreateAssignmentPersonLookupResult)
                {
                    <Switch FullWidth @bind-Checked=CreateAssignmentPerson[person.Id]>@person.Name</Switch>
                }
            </SwitchContainer>
        </InputContainer>

        <hr />
        @if (!string.IsNullOrEmpty(CreateAssignmentMessage.msg))
        {
            <Message State=@(CreateAssignmentMessage.success ? Message.MsgState.Success : Message.MsgState.Alert)>
                @CreateAssignmentMessage.msg
            </Message>
            <hr />
        }
        <Button Variant="Button.ButtonVariant.Filled" OnClick=@(() => CreateAssignment())>Opprett</Button>

    </Drawer>

}


@code {

    [Parameter] public Guid Id { get; set; }
    public ExtEntity Entity { get; set; }
    public List<ExtAssignment> FromAssignments { get; set; }
    public List<ExtAssignment> ToAssignments { get; set; }

    public bool GroupFromByTo { get; set; } = true;
    public bool GroupToByFrom { get; set; } = true;

    public List<EntityGroup> Groups { get; set; }
    private List<GroupMembership> GroupMemberships { get; set; }

    public List<Delegation> Delegations { get; set; } = new List<Delegation>();
    public List<DelegationGroup> DelegationGroups { get; set; } = new List<DelegationGroup>();
    public List<DelegationAssignment> DelegationAssignments { get; set; } = new List<DelegationAssignment>(); 

    protected async override Task OnParametersSetAsync()
    {
        var opt = UserData.GetRequestOptions();

        Entity = await entityData.GetExtended(Id, options: opt);

        await LoadAssignments();

        Roles = [.. await roleService.GetExtended(filter => filter.Equal(t => t.EntityTypeId, Entity.TypeId))];
        CreateAssignmentRoles = new Dictionary<Guid, bool>();
        foreach (var role in Roles)
        {
            CreateAssignmentRoles.Add(role.Id, false);
        }

        await GetAvgivere();
        await GetRightHolders();
    }

    private async Task LoadAssignments()
    {
        var opt = UserData.GetRequestOptions();

        if (Entity != null)
        {
            FromAssignments = [.. await assignmentData.GetExtended(t => t.FromId, Entity.Id, options: opt) ?? new List<ExtAssignment>()];
            ToAssignments = [.. await assignmentData.GetExtended(t => t.ToId, Entity.Id, options: opt) ?? new List<ExtAssignment>()];

            await LoadGroups();
        }

        // if (FromAssignments != null && FromAssignments.Any())
        // {
        //     foreach(var ass in FromAssignments)
        //     {
        //         Delegations.AddRange(await delegationService.Get(t => t.AssignmentId, value: ass.Id));
        //     }
        // }
        if (ToAssignments != null && ToAssignments.Any())
        {
            foreach (var ass in ToAssignments)
            {
                Delegations.AddRange(await delegationService.Get(t => t.AssignmentId, value: ass.Id));
            }
        }

        if (Delegations != null && Delegations.Any())
        {
            foreach (var delegation in Delegations)
            {
                DelegationGroups.AddRange(await delegationGroupService.Get(t => t.DelegationId, delegation.Id));
                DelegationAssignments.AddRange(await delegationAssignmentService.Get(t => t.DelegationId, delegation.Id));
            }
        }
    }

    public bool CreateGroupModalIsOpen { get; set; }
    public string CreateGroupName { get; set; }
    public (string msg, bool success) CreateGroupMessage { get; set; }
    private async Task LoadGroups()
    {
        Groups = [.. await groupService.Get(t => t.OwnerId, Entity.Id)];
        GroupMemberships = new List<GroupMembership>();

        var groupMembers = await groupMemberService.Get(t => t.MemberId, Entity.Id);
        var groupAdmins = await groupAdminService.Get(t => t.MemberId, Entity.Id);

        foreach(var member in groupMembers)
        {
            if (GroupMemberships.Exists(t => t.Group.Id == member.GroupId))
            {
                var mem = GroupMemberships.First(t => t.Group.Id == member.GroupId);
                mem.IsMember = true;
            }
            else
            {
                var grp = await groupService.Get(member.GroupId);
                if(grp == null) { continue; }
                GroupMemberships.Add(new GroupMembership() { Group = grp, IsAdmin = false, IsMember = true });
            }
        }

        foreach (var member in groupAdmins)
        {
            if (GroupMemberships.Exists(t => t.Group.Id == member.GroupId))
            {
                var mem = GroupMemberships.First(t => t.Group.Id == member.GroupId);
                mem.IsAdmin = true;
            }
            else
            {
                var grp = await groupService.Get(member.GroupId);
                if (grp == null) { continue; }
                GroupMemberships.Add(new GroupMembership() { Group = grp, IsAdmin = true, IsMember = false });
            }
        }
    }
    private async Task CreateGroup()
    {
        if (string.IsNullOrEmpty(CreateGroupName))
        {
            CreateGroupMessage = ("Name is null or empty", false);
            return;
        }
        await groupService.Create(new EntityGroup() { Id = Guid.NewGuid(), Name = CreateGroupName, OwnerId = Entity.Id, RequireRole = false });
        CreateGroupMessage = ($"Created '{CreateGroupName}' group!", true);
        CreateGroupName = "";
        await LoadGroups();
    }


    private class GroupMembership 
    {
        public EntityGroup Group { get; set; }
        public bool IsMember { get; set; }
        public bool IsAdmin { get; set; }
    }


    public List<ExtEntity> Avgivere { get; set; }
    public async Task GetAvgivere()
    {
        Avgivere = new List<ExtEntity>();
        var self = await entityService.GetExtended(Entity.Id);
        var delegations = new List<Delegation>();
        var delegatedAssignments = new List<ExtAssignment>();

        var assignments = await assignmentService.GetExtended(t => t.ToId, Entity.Id);
        foreach (var ass in assignments)
        {
            delegations.AddRange(await delegationAssignmentService.GetA(ass.Id));
        }

        var groupMemberships = await groupMemberService.Get(t => t.MemberId, Entity.Id);
        foreach (var grp in groupMemberships)
        {
            delegations.AddRange(await delegationGroupService.GetA(grp.GroupId));
        }

        foreach (var delegation in delegations)
        {
            delegatedAssignments.Add(await assignmentService.GetExtended(delegation.AssignmentId));
        }


        Avgivere.Add(self);
        foreach (var ass in assignments)
        {
            if (!Avgivere.Exists(t => t.Id == ass.FromId))
            {
                Avgivere.Add(await entityService.GetExtended(ass.FromId));
            }
        }
        foreach (var del in delegatedAssignments)
        {
            if (!Avgivere.Exists(t => t.Id == del.FromId))
            {
                Avgivere.Add(await entityService.GetExtended(del.FromId));
            }
        }
    }

    public List<ExtEntity> RightHolders { get; set; }
    public async Task GetRightHolders()
    {
        RightHolders = new List<ExtEntity>();
        var self = await entityService.GetExtended(Entity.Id);
        var delegations = new List<Delegation>();
        var delegatedAssignments = new List<ExtAssignment>();

        var assignments = await assignmentService.GetExtended(t => t.FromId, Entity.Id);
        foreach (var ass in assignments)
        {
            delegations.AddRange(await delegationAssignmentService.GetA(ass.Id));
        }

        foreach (var delegation in delegations)
        {
            delegatedAssignments.Add(await assignmentService.GetExtended(delegation.AssignmentId));
        }


        RightHolders.Add(self);
        foreach (var ass in assignments)
        {
            if (!RightHolders.Exists(t => t.Id == ass.ToId))
            {

                RightHolders.Add(await entityService.GetExtended(ass.ToId));
            }
        }
        foreach (var del in delegatedAssignments)
        {
            if (!RightHolders.Exists(t => t.Id == del.ToId))
            {
                RightHolders.Add(await entityService.GetExtended(del.ToId));
            }
        }
    }


    public bool CreateAssignmentModalIsOpen { get; set; }
    public List<ExtRole> Roles { get; set; } = new List<ExtRole>();
    public Dictionary<Guid, bool> CreateAssignmentRoles { get; set; } = new Dictionary<Guid, bool>();

    public string CreateAssignmentName { get; set; }
    public string CreateAssignmentRefNo { get; set; }
    public List<ExtEntity> CreateAssignmentPersonLookupResult { get; set; } = new List<ExtEntity>();
    public Dictionary<Guid, bool> CreateAssignmentPerson { get; set; } = new Dictionary<Guid, bool>();

    private async Task CreateAssignmentLookupPerson()
    {
        CreateAssignmentPersonLookupResult = [.. await entityService.GetExtended(entityService.CreateFilterBuilder().Add(t => t.RefId, CreateAssignmentRefNo, FilterComparer.StartsWith).Add(t => t.Name, CreateAssignmentName, FilterComparer.Contains))];
        CreateAssignmentPerson.Clear();
        foreach (var person in CreateAssignmentPersonLookupResult)
        {
            CreateAssignmentPerson.Add(person.Id, false);
        }
    }

    public (string msg, bool success) CreateAssignmentMessage { get; set; }
    private async Task CreateAssignment()
    {
        if (CreateAssignmentRoles == null || CreateAssignmentRoles.Count(t=>t.Value) == 0)
        {
            CreateAssignmentMessage = ("No roles selected", false);
            return;
        }
        if (CreateAssignmentPerson == null || CreateAssignmentPerson.Count(t => t.Value) == 0)
        {
            CreateAssignmentMessage = ("No people selected", false);
            return;
        }

        int createCount = 0;

        foreach (var role in CreateAssignmentRoles.Where(t => t.Value))
        {
            foreach(var to in CreateAssignmentPerson.Where(t => t.Value))
            {
                await assignmentService.Create(new Assignment() { Id = Guid.NewGuid(), FromId = Entity.Id, RoleId = role.Key, ToId = to.Key, IsDelegable = false });
                createCount++;
            }
        }

        CreateAssignmentMessage = ($"Created {createCount} assignments!", true);
        CreateAssignmentName = "";
        CreateAssignmentRefNo = "";
        CreateAssignmentPerson.Clear();
        CreateAssignmentPersonLookupResult.Clear();
        await LoadAssignments();
    }

}

