@page "/policy/{Id:guid}"
@inject IPolicyService policyService
@inject IPolicyElementService policyElementService

@if (Policy != null)
{
    <PageTitle>@Policy.Name</PageTitle>

    <PageHeader>
        <LeftContent>
            <BreadcrumbContainer>
                <BreadcrumbItem Url=@($"/resource/{Policy.Resource.Id}")>@Policy.Resource.Name</BreadcrumbItem>
            </BreadcrumbContainer>
            <H1>@Policy.Name</H1>
            <p>@Policy.Description</p>
        </LeftContent>
        <RightContent>
        </RightContent>
    </PageHeader>

    <Grid Medium="2">

        @if (Elements != null && Elements.Any())
        {
            <GridSpan Columns="2">
                <H2>Elementer</H2>
                <SimpleTable>
                    <Head>
                        <SimpleTableRow IsHeaderRow>
                            <th>Navn</th>
                            <th>Type</th>
                            <th>Urn</th>
                        </SimpleTableRow>
                    </Head>
                    <Body>
                        @foreach (var element in Elements)
                        {
                            <SimpleTableRow>
                                <td><a href=@($"/element/{element.Id}")>@element.Name</a></td>
                                <td>&nbsp;</td>
                                <td>@element.Urn</td>
                            </SimpleTableRow>
                        }
                    </Body>
                </SimpleTable>
            </GridSpan>
        }

    </Grid>
}

@code {

    [Parameter] public Guid Id { get; set; }
    public ExtPolicy Policy { get; set; }
    public List<Element> Elements { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var opt = UserData.GetRequestOptions();

        Policy = await policyService.GetExtended(Id, options: opt);
        if (Policy != null)
        {
            Elements = [.. await policyElementService.GetB(Policy.Id, options: opt)];
        }
    }
}
