<div class="bf-input-container @(Disabled ? "bf-input-disabled" : "")">
    <label for="input-@Id" class="bf-label">@Title</label>
    <div class="bf-label-description">@Description</div>
    <input id="input-@Id" class="bf-input" disabled=@Disabled @bind-value="@Value" @bind-value:event="oninput" placeholder="@Placeholder" />
</div>

@code {

    [Parameter] public string Id { get; set; }
    [Parameter] public string Title { get; set; }
    [Parameter] public string Description { get; set; }
    [Parameter] public string Placeholder { get; set; }
    [Parameter] public bool Disabled { get; set; }

    [Parameter] public EventCallback<string> ValueChanged { get; set; }

    private string _value;
    [Parameter]
    public string Value
    {
        get => _value;
        set
        {
            if (value == _value)
                return;

            _value = value;
            if (ValueChanged.HasDelegate)
            {
                ValueChanged.InvokeAsync(_value);
            }
        }
    }
    
}
