@namespace Altinn.AccessMgmt.WebComponents

<div class="bf-nav-group">
    <button @onclick="() => IsOpen = !IsOpen" type="button" class="bf-nav-group-button @(IsOpen ? "bf-accordion-item-active" : "")" aria-expanded=@IsOpen>
        <div class="bf-nav-item bf-break-word">
            <Icon Name="@Icon"></Icon>
            <span>&nbsp;@Title</span>
            <span class="bf-nav-expand-icon">
                <Icon Name="@(IsOpen ? "angle-up" : "angle-down")"></Icon>
            </span>
        </div>
    </button>
    <div class="bf-expand @(IsOpen ? "" : "bf-expand-closed")">
        <div>
            <div class="bf-nav-group-content" style="@ContentStyle">
                @ChildContent
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public string Title { get; set; } = "Group";
    [Parameter]
    public string Icon { get; set; } = "pen-ruler";
    [Parameter]
    public RenderFragment ChildContent { get; set; }

    [Parameter]
    public bool IsOpen { get; set; } = false;
    [Parameter]
    public string ContentStyle { get; set; }
}
